* {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color-scheme: dark;
}

a {
    color: var(--ejz-accent);
    text-decoration: none;
}
a:hover {
    color: var(--ejz-accent-hover);
}
a:active {
    color: var(--ejz-accent-active);
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    background-color: var(--th-popup);
    color: var(--th-popup-text);
}
button.accent {
    background-color: var(--ejz-accent);
}
button.accent:hover {
    background-color: var(--ejz-accent-hover);
}
button.accent:active {
    background-color: var(--ejz-accent-active);
}

button:hover {
    background-color: var(--ejz-surfaceHover);
}

button:active {
    background-color: var(--ejz-backgroundHover);
}

button.danger {
    background-color: var(--fx-critical-bg);
    color: var(--fx-critical-text);
    border: 1px solid var( --fx-critical);
}

button.danger:hover {
    background-color: var(--fx-critical-bg);
    color: var(--fx-critical-text);
    border: 1px solid var( --fx-critical-text);
}

button.danger:active {
    background-color: var(--fx-critical);
}

.outlined {
    border: 1px solid var(--th-popup-border);
}

.confirmationPopup, .emojeezer.confirmationPopup {
    position: absolute;
    top: calc( 50% - 100px );
    left: calc( 50% - 150px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    background-color: var(--th-popup);
    color: var(--th-popup-text);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 10px;
}

.popupBackground, .emojeezer.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 999;
}